        header {
            background-color: lightblue;
            padding: 15px;
            text-align: center;
            color: navy;
            text-size-adjust: opera 42;
        }
        h1 {
            padding: 20px;
            text-align: center;
            background-color: olivedrab;
        }

        h2 {
            padding: 20px;
            text-align: left;
            color: navy;
            background-color: pink;

        }


        h3 {
            padding: 20px;
            text-align: left;
            color: navy;
            background-color: yellowgreen;

        }

        h4 {
            text-align: left;
            color: navy;
            background-color: yellow;

        }
        p {
            padding: 10px;
            text-align: left;
            color: blue;
            background-color:pink ;
        }

        pre{
            padding: 20px;
            text-align: left;
            color: navy;
            background-color: pink;
        }

        footer {
            color: wheat;
            background-color: navy;
            text-align: center;
            padding: 20px;
        }
        ol {

            color: navy;
        

        }

